<div class="mt-4">
  <form>
    <div class="row mb-3">
      <label for="search-input" class="col-sm-2 col-form-label"> Keyword</label>
      <div class="col-sm-12">
        <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter Keyword..." />
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>