@import 'variables';

.card-course-item {
  margin-bottom: 25px;
}
.card-course-item img {
  height: 250px;
  object-fit: cover;
}
.card-course-item a {
  text-decoration: none;
}
select.checkbox-select-all-options {
  width: 140px;
  margin: 0 16px;
}